/* ----- NORMAL FORMATTING -----*/




/* ----- HOMEPAGE SPECIFIC FORMATTING ----- */
body {
    margin: 0 0;
    padding-top: 100px;
    background-color: #1abc9c;
    color: #ffffff;
    text-align: center;
    font-family: "Helvetica Neue", Helvectia, sans-serif;
}

.index #logo {
    width: 250px;
    height: 250px;
}

.btn {
    color: white;
    background: #e74c3c;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: none;
    line-height: 22px;
    padding: 10px 30px 10px;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 18px;
    text-decoration: none;
    	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  
  -webkit-animation:fadeIn ease-in 1; 
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  animation-duration:1.5s;
}

.fade-in.title {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.fade-in.description {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay:1.5s;
  animation-delay: 1.5s;
}

.cell {
  width:  200px;
  height: 200px;
  background-image: url("Book.png");
  background-repeat: no-repeat;
  text-align: center;
}

a {
    color: WHITE;
}

.how {
    padding-top:50px;
    background-color: #f1c40f;
    min-height: 100%;
}

.wrapper {
    /*padding-top: 20px;*/
    background-color:#1abc9c;
    min-height: 100%;
}

p {
    margin:0 !important;
}

.credits {
    -webkit-column-span: all;
    column-span: all;
    align:"center";
}

.team {
    padding-top: 50px;
    background-color: #9b59b6;
    min-height: 100%;
    color: white;
}

.alignleft {
    float: left;
    padding-left: 10px;
    width: 100%;
}