/* ----- NORMAL FORMATTING -----*/
html {
    height:100%;
    min-height:100%;
}

body {
    margin: 0 0;
    height:100%;
    min-height:100%;
    background-color: #1abc9c;
    color: #ffffff;
    text-align: center;
    font-family: "Helvetica Neue", Helvectica, sans-serif;
}

.btn {
    color: white;
    background: #e74c3c;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: none;
    line-height: 22px;
    padding: 10px 30px 10px;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 18px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
}


/* ----- HOMEPAGE SPECIFIC FORMATTING ----- */

.index #logo {
    width: 250px;
    height: 250px;
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  
  -webkit-animation:fadeIn ease-in 1; 
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  animation-duration:1.5s;
}

.fade-in .title {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.fade-in.description {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay:1.5s;
  animation-delay: 1.5s;
}

.cell {
  width:  200px;
  height: 200px;
  background-image: url("Book.png");
  background-repeat: no-repeat;
  text-align: center;
}

a {
    color: WHITE;
    font-weight:bold;
}

.how {
    padding-top:5%;
    padding-bottom: 5%;
    background-color: #f1c40f;
    min-height: 100%;
    height:auto !important;
    height:100%;
}

.wrapper {
    padding-top: 100px;
    background-color:#1abc9c;
    min-height: 100%;
    height:auto !important;
    height:100%;
}

p {
    margin:0 !important;
}

.credits {
    -webkit-column-span: all;
    column-span: all;
    align:"center";
}

.team {
    padding-top:5%;
    padding-bottom: 5%;
    background-color: #9b59b6;
    min-height: 100%;
    color: white;
    height:auto !important;
    height:100%;
}

.alignleft {
    float: left;
    padding-left: 10px;
    width: 100%;
}

input[type="text"]{
    padding: 1%;
    border: none;
}

textarea {
    width: 30%;
    height: 100px;
    padding: 1%;
    border: none;
    resize: none;
}

input[type="password"] {
    padding: 1%;
    border: none;
}

::-webkit-input-placeholder {
    padding: 1%;
}

table.bottomBorder { 
  border-collapse: collapse;
  border: 10px solid #3498db;
  border-radius: 10px;
  }
table.bottomBorder td, 
table.bottomBorder th { 
  border-bottom: 1px solid #3498db; 
  padding:30px; 
  }

/* ----- USERPAGE SPECIFIC FORMATTING ----- */

.header {
    position:absolute;
    left:0; right:0;
    height: 80px;
    background-color: #2c3e50;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
}
.sidebar {
    position:absolute;
    left:0; top:0; bottom: 0;
    width: 250px;
    background-color: #8e44ad;
}
.main {
    position: absolute;
    left:250px; top:92px; right:0; bottom:0;
    background-color: #1abc9c;
}

#logout {
    float: right;
    padding: 10px 10px 10px;
    display: inline-block;
}

.error {
    background-color: #e74c3c;
    color: WHITE;
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 0.25em rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 0.5em auto;
    padding: 0.5em 1em;
}

.headtext {
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
}

.book {
    background-image: url(../static/Book.png);
    background-repeat: no-repeat;
    box-shadow: 1em 1em 0.5em rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    width: 200px;
    height: 200px;
}

/* ----- STORYPAGE SPECIFIC FORMATTING ----- */
.storyheader {
    position: absolute;
    left:0; right:0;
    height: 125px;
    background-color: #2c3e50;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
}

.story {
  position: absolute;
  left:-550px; top:180px; right:0; bottom:0;
}

.return {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.blogo {
    max-width:31%;
}


/* ----- LOGIN SPECIFIC FORMATTING ----- */

.loginheader {
    position: absolute;
    left:0; right:0;
    height: 80px;
    background-color: #2c3e50;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
}
.smalllogo {
  position: absolute;
  top: 15px;
  left: 100px;
}
.loginbody {
  left: 0; right: 0;
  position: absolute;
  top: 120px;
  text-align: center;
}

.loginbody p {
  color: #2c3e50; 
}

table.loginborder { 
  border-collapse: collapse;
  border: 10px solid #2c3e50;
  border-radius: 10px;
}

.padded {
    padding: 1%;
}

.titleinput {
    padding: 1%;
    width: 20%;
    height: 20px;
}

.footer {
    position: fixed;
    right:0;
    bottom:0;
    margin:0;
    padding:0;
    width:15%;
}