<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - StoryBored</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>
<body {% if index %}class="index"{% endif %}>
    <div id="container">
      {% block contents %}{% endblock %}
      <div>
	{% if session["logged"]>0 %}
	<img src="../static/mascot.gif" class="footer">
	{% endif %}
      </div>
    </div>
</body>
</html>
