{% extends "base.html" %}

{% block title %}

Log In

{% endblock %}

{% block contents %}

<h1>Log in to Storybored</h1>
{% if error %}
<div class="error">
  <h3>{{error}}</h3>
</div>
{% endif %}
<br><br>
<form method="POST">
  Username: <input type="text" name="username" placeholder="Username">
  <br><br>
  Password: <input type="password" name="password" placeholder="Password">
  <br><br>
  <input type="submit" name="sub" value="Log in" class="btn">
  <input type="submit" name="sub" value="Cancel" class="btn">
</form>
<br>
<button class="btn"><a href="{{url_for('signup')}}">Sign Up</a></button>
<br><br>
<h4>NEW DEVELOPER'S NOTE: ACCOUNTS CAN NOW BE CREATED. FEEL FREE TO GIVE IT A TRY.<br>OTHERWISE, USERNAME="test", PASSWORD="test"</h4>
<br><br>
<button class="btn"><a href="/home">Back to the Home Page</a></button>

{% endblock%}
