{% extends "base.html" %}

{% block title %}

Log In

{% endblock %}

{% block contents %}

<h1>Log in to Storybored</h1>
<form method="POST">
  Username: <input type="text" name="username" placeholder="Username">
  <br><br>
  Password: <input type="password" name="password" placeholder="Password">
  <br><br>
  <input type="submit" name="sub" value="Log in" class="btn">
  <input type="submit" name="sub" value="Cancel" class="btn">
</form>
<br>
<button class="btn"><a href="{{url_for('signup')}}">Sign Up</a></button>
<br><br>
DEVELOPER's NOTE: type any username, password = "pass" to sign in
<br><br>
<button class="btn"><a href="/home">Back to the Home Page</a></button>

{% endblock%}
