{% extends "base.html" %}

{% block contents %}

<h1> Create a new post </h1>

<br><br>

<form method="POST">
  Title: 
  <br><br>
  <input type="text" name="title">
  <br><br><br>
  Body (maximum 256 characters)
  <br><br>
  <textarea name="Body" form="usrform" maxlength="256">Enter text here...</textarea>
  <br>
  <input type="submit" name="sub" value="Submit" class="btn">
</form>




<button class="btn"><a href="{{url_for('userpage')}}"> Back to the Main Page </a></button>

<br><br>

<button class="btn"><a href="{{url_for('login')}}"> Log Out </a></button>

{% endblock %}
