{% extends "base.html" %}

{% block title %}

Create a New Post

{% endblock %}

{% block contents %}

<div class="container">
  <div class="sidebar">
    <br><br><br><br>
    <h3>{{ uname  }}</h3>
    <h3>Your Posts</h3>
  </div>

  <div class="header"></div>
  <div class="headtext">
    <img id="logo" class="smalllogo" src="{{ url_for('static', filename='ebook_circle.png') }}" alt="storyboredlogo" height="50">
    <h1 class="headtext"> Create a new post </h1>
    <a href="/logout" class="btn" style="float: right"> Logout </a>
  </div>
<div class="main">

<form method="POST">
  <h3>Title (maximum 256 characters)</h3> 
  <textarea type="text" name="title" placeholder="Title" class="titleinput"></textarea>
  <br><br><br>
  <h3>Body (maximum 256 characters)</h3>
  <textarea type="text" name="body" maxlength="256" placeholder="Enter text here..."></textarea>
  <br>
  <input type="submit" name="sub" value="Submit" class="btn">
</form>




<button class="btn"><a href="{{url_for('userpage')}}"> Back to the Main Page </a></button>

<br><br>

</div>

{% endblock %}
